.app {
  font-family: Verdana, Geneva,sans-serif;
}

/* navbar */
nav {
  margin-bottom: 50px;
  height: 30px;
  background-color: rgb(28, 153, 153);
}

ul {
  display: flex;
  background-color: rgb(246, 246, 246);
  width: 100%;
  justify-content: space-evenly;
  padding: 0;
  border: solid;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 10px 10px;
  text-decoration: none;
}

nav a:hover {
  background-color: #758cff;
  color: black;
}

nav a.active {
  background-color: #1050f1;
  color: white;
}

/* single event */
.eventimage {
  display: flex;
   border: 1px solid #ccc;
   margin: auto;
   text-align: center;
   justify-content: space-between;
   padding: 10px;
}

.eventname{
  margin: auto;
}

.datetime{
  margin: auto;
}

.favouritebutton {
  background-color: #ff5555;
  color: #fff;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  height: 120px;
  width: 100px;
}

.favouritebutton:active {
  background-color: #e54444;
}

/* -------- */

.singleeventpage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.event-details {
  margin-bottom: 20px;
}

.event-details img {
  margin-top: 20px;
}

.addfavouritebutton {
  background-color: #4caf50;
  color: #fff;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 10px;
}

.addfavouritebutton:active {
  background-color: #45a049;
}


.backtohome {
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
